@charset "utf-8";

/* Margin을 활용한 여백 */
.mt3 { margin-top:3px !important; }
.mb3 { margin-bottom:3px !important; }
.mr3 { margin-right:3px !important; }
.ml3 { margin-left:3px !important; }

.mt5 { margin-top:5px !important; }
.mb5 { margin-bottom:5px !important; }
.mr5 { margin-right:5px !important; }
.ml5 { margin-left:5px !important; }

.mt10 { margin-top:10px !important; }
.mb10 { margin-bottom:10px !important; }
.mr10 { margin-right:10px !important; }
.ml10 { margin-left:10px !important; }

.mt15 { margin-top:15px !important; }
.mb15 { margin-bottom:15px !important; }
.mr15 { margin-right:15px !important; }
.ml15 { margin-left:15px !important; }

.mt20 { margin-top:20px !important; }
.mb20 { margin-bottom:20px !important; }
.mr20 { margin-right:20px !important; }
.ml20 { margin-left:20px !important; }

.mt30 { margin-top:30px !important; }
.mb30 { margin-bottom:30px !important; }
.mr30 { margin-right:30px !important; }
.ml30 { margin-left:30px !important; }

.mt40 { margin-top:40px !important; }
.mb40 { margin-bottom:40px !important; }
.mr40 { margin-right:40px !important; }
.ml40 { margin-left:40px !important; }

.mt50 { margin-top:50px !important; }
.mb50 { margin-bottom:50px !important; }
.mr50 { margin-right:50px !important; }
.ml50 { margin-left:50px !important; }

/* Padding을 활용한 여백 */
.pt5 { padding-top:5px !important; }
.pb5 { padding-bottom:5px !important; }
.pr5 { padding-right:5px !important; }
.pl5 { padding-left:5px !important; }

.pt10 { padding-top:10px !important; }
.pb10 { padding-bottom:10px !important; }
.pr10 { padding-right:10px !important; }
.pl10 { padding-left:10px !important; }

.pt15 { padding-top:15px !important; }
.pb15 { padding-bottom:15px !important; }
.pr15 { padding-right:15px !important; }
.pl15 { padding-left:15px !important; }

.pt20 { padding-top:20px !important; }
.pb20 { padding-bottom:20px !important; }
.pr20 { padding-right:20px !important; }
.pl20 { padding-left:20px !important; }

.pt30 { padding-top:30px !important; }
.pb30 { padding-bottom:30px !important; }
.pr30 { padding-right:30px !important; }
.pl30 { padding-left:30px !important; }

.pt40 { padding-top:40px !important; }
.pb40 { padding-bottom:40px !important; }
.pr40 { padding-right:40px !important; }
.pl40 { padding-left:40px !important; }

.pt50 { padding-top:50px !important; }
.pb50 { padding-bottom:50px !important; }
.pr50 { padding-right:50px !important; }
.pl50 { padding-left:50px !important; }

/* 가로 사이즈 */
.w50 { width:50% !important; }
.w60 { width:60% !important; }
.w70 { width:70% !important; }
.w80 { width:80% !important; }
.w90 { width:90% !important; }
.w100 { width:100% !important; }
.w100p { width:100px !important; }
.w200p { width:200px !important; }
.w300p { width:300px !important; }
.w400p { width:400px !important; }

/* 텍스트 수직 정렬 */
.txt_pos_abs { position:absolute !important; left:10px; top:50% !important; padding-left:10px; transform:translateY(-50%) !important; }
.txt_pos_abs:before { position:absolute; left:0; top:0; content:"·"; }

/* 정렬 */
.algL {text-align:left !important;}
.algC {text-align:center !important;}
.algR {text-align:right !important;}

/* 노출 */
.hide { display:none !important; }

/* Jquery UI 스타일시트 수정 */
.ui-widget-header .ui-icon { background-image:url("../../common/images/ui-icons_444444_256x240.png"); }


/* 레이어팝업 배경 */
.overlay { position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(51,51,51,0.7); z-index:10; }